<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Currency exchange rates</title>
    </head>
    <body>
        <p> Currency exchange rates as of <b>{{today}}</b></p>
        <div>
        <h3><u>If you want to buy: </u></h3>
        <form method="post" id ="formask" action="{{ url_for('exchange') }}">
            <label for="code">Select the currency:</label><br>
            <select name="code" id="code">
                {% for code in codes %}
                <option> {{code}} </option>
                {% endfor %}
            </select><br><br>
            <label for="amount"> Enter the amount of currency you want to buy: </label><br>
            <input type="number" name="amount" min="1.00" step=1 value="ask">
            <input type="submit" name='formsubmit' value='Convert'><br><br>
       </form>
       </div>
       <div>
        <h3><u>If you want to sell: </u></h3>
       <form method="post" id ="formbid" action="{{ url_for('exchange') }}">
        <label for="code">Select the currency:</label><br>
        <select name="code" id="code">
            {% for code in codes %}
            <option> {{code}} </option>
            {% endfor %}
        </select><br><br>
            <label for="amount"> Enter the amount of currency you want to sell: </label><br>
            <input type="number" name="amount" min="1.00" step=1 value="bid">
            <input type="submit" name ="formsubmit2" value="Convert">
        </form>
        </div>
    </body>
</html>