<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kursy walut</title>
    </head>
    <body>
        <form method="post">
            <label for="code">Choose currency:</label><br>
            <select name="code" id="code">
                {% for code in codes %}
                <option> {{code}} </option>
                {% endfor %}
            </select><br><br>
            <label for="amount"> Enter the amount: </label><br>
            <input type="number" name="amount" min="1" step=1>
            <button type="submit">Convert</button>
        </form>
    </body>
</html>